  @media (min-width: 1025px) {

      .hamburger-icon {
          display: none;
      }
  }


  @media (max-width: 1024px) {

      .hamburger-icon {
          display: none;
      }

  }

  @media (max-width: 960px) {
      .option-list {
          display: none;
          flex-direction: column;
          background-color: white;
          position: absolute;
          top: 100%;
          right: 30px;
          /* adjust based on your padding */
          width: auto;
          padding: 1rem 2rem;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      }

      .option-list.active {
          display: flex;
      }

      .hamburger-icon {
          display: block;
          cursor: pointer;
      }

      .options {
          position: relative;
      }

  }