* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
    padding: 30px;
}

.header-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    color: currentColor;
    display: flex;
    flex-direction: column;
}

.name {
    color: #192647;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 300;
    text-decoration: none;
    font-family: var(--font-pay);
}

.heading-span {
    color: #192647;
    font-size: 13px;

}

.hero-section {
    height: 100vh;
    position: relative;
    background-image: url(../image/section/Rectangle-661.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.option-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header-button {
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #192647;
    text-decoration: none;
    
}

/*-------------------------------------------Header End-----------------------------------------------*/

.first-inner {
    padding-top: 101px;
    padding-left: 80px;
}

.first-main-text {
    max-width: 711px;
    font-size: 45px;
    font-weight: lighter;
    line-height: 55px;
}   

.first-sub-text {
    font-size: 16px;
    max-width: 524px;
    line-height: 26px;
    padding-top: 30px;
    display: flex;
}


.first-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.whatwe-button {
    color: rgb(0, 0, 0);
    border: 1px solid #888888;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;
    height: 48px;
    width: 146px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.whatwe-button1 {
    color: white;
    height: 48px;
    width: 146px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;
    background-color: #192647;
}

.whatwe-button1:hover {
    border: 1px solid white;
}