* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #EFEFEF;
    --font-Montserrat: "Montserrat", sans-serif;
    --font-pay:"Playfair Display", serif;
}


body {
    /* font-family: var(--font-Montserrat); */
    background-color: #ffffff;
    position: relative;
    /* font-size: 16px; */
    /* overflow-x: hidden; */

}

.container {
    max-width: 1440px;
    padding: 0 16px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}


.header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 999;
    padding: 30px;
}

.header-inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 39px; */
}

.header-text {
    color: currentColor;
    display: flex;
    flex-direction: column;
}

.name {
    color: #192647;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 300;
    text-decoration: none;
    font-family: var(--font-pay);
}

.heading-span {
    color: #192647;
    font-size: 13px;

}

.hero-section {
    height: 100vh;
    position: relative;
    background-image: url(../image/section/Rectangle-661.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.option-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header-option {
    margin-top: 20px;
}

.header-button {
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #192647;
    text-decoration: none;
    margin-top: 6px;
    white-space: nowrap;
}



/*-------------------------------------------------------------------------*/
.demo-img {
    display: none;
    /* hidden since background image is used */
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.welcome-text {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 10px;
}

.hero-title {
    margin-top: 0;
    font-size: 55px;
    font-weight: 400;
    line-height: 65px;
    color: #F8F8F8;
    max-width: 600px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.whatwe-button {
    color: white;
    border: 1px solid #ffffff;
    padding: 15px 22px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;
}

.whatwe-button1 {
    color: white;
    padding: 15px 22px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s ease;
    /* border: 1px solid #192647; */
    background-color: #192647;
}

.whatwe-button1:hover {
    border: 1px solid white;
}


.midparagraph {
    max-height: 610px;
    max-width: 100%;
}


.hightlighted-text {
    font-size: 45px;
    text-align: center;
    color: #F8F8F8;
    font-weight: lighter;
    width: 100%;
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
}

.slider-section {
    background-color: #192647;
    padding-top: 126px;
    padding-bottom: 160px;
}

.icon {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-----------------------------------------------------------*/


.secondary {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
} */

.second-inner {
    padding-top: 70px;
    padding-bottom: 70px;
}

.second-inner-text {
    text-align: left;
}

.head {
    font-size: 14px;
    color: #aba6a6;
    font-weight: 500;

}

.second-inner-main {
    padding-top: 30px;
    font-size: 45px;
    color: rgb(64, 64, 64);
    width: 911px;
    font-weight: lighter;

}

.second-span {
    font-size: 20px;
    color: #696868;
    font-weight: 400;
    max-width: 740px;
    margin-top: 30px;
}

.viewser {
    margin-top: 40px;
    font-size: 22px;
    color: #192647;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.sub-viewser {
    text-decoration: none;
    color: #192647;
}

.viewser-img {
    margin-left: 8px;
}

/*-----------------------------------------------------------------------------*/

.mediation-main {
    background-color: white;
    position: relative;
    height: 730px;
}

.mediation-inner {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 92px;
}

.left-section {
    padding-right: 20px;
    width: 50%;
    position: absolute;
    left: 0%;
    background-color: #F8F8F8;
    height: 100%;
    top: 0%;
    padding: 80px;
}

.mediation-text {
    align-items: center;
}

.head-text {
    font-size: 12px;
    color: #b6b5b5;
    font-weight: 400;
}

.big-textofM {
    margin-top: 110px;
    font-size: 45px;
    font-weight: 300;
    color: #192647;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

.faq {
    border-bottom: 1px solid #bbbbbb;
    padding-top: 10px;
    padding-bottom: 10px;
        border-top: 1px solid #cbcbcf;
}

.media-faq {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.faq1 {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.media-icon {
    border: 2px solid #fefefe;
    border-radius: 50%;
    padding: 2px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.media-faq-open {
    display: block;
    max-height: 1000px;
}

.medai-faq-open-span {
    font-size: 14px;
    color: #666;
}

.right-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-section{
    width: 50%;
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
}

/*---------------------------------------------------------------------------*/

.cards-main {
    background-color: white;
}

.cards-inner {
    padding-top: 80px;
    padding-bottom: 100px;
}

.cards-head {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cards-head-text {
    font-size: 14px;
    padding-top: 10px;
}

.cards-button {
    color: #192647;
    font-weight: 500;
    border: 1px solid #cbcbcf;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px;
    white-space: none;
    box-sizing: border-box;
    text-decoration: none;
}

.cards-button:hover {
    background-color: #192647;
    color: white;
}

.cards-body {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.cards {
    border: 1px solid #EFEFEF;
    padding-bottom: 20px;
    width: 100%;
}

.card-image img {
    width: 100%;
}

.card-text {
    padding-top: 25px;
    padding-left: 35px;
}

.card-text-head {
    color: #969494;
    font-size: 16px;
    font-weight: 400;
}

.card-para {
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}

.card-arrow {
    margin-top: 20px;
    border-radius: 50px;
    width: 45px;
}

.card-arrow img {
    height: 45px;
    width: 45px;
}

/*----------------------------------------------------------------------------------*/

.third-party-assistent {
    width: 100%;
    background-color: #ECEDED;
}


.third-party-text{
    padding: 120px 80px;
}

.third-party-para {
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 26px;

}

.third-party-button{
    font-weight: 500;
    border: 1px solid #192647;
    background-color: #192647;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


.third-party-button:hover {
    background-color: white;
    color: black;
}

/*-------------------------------------------------------------------------*/
footer {
    background-color: #192647;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.blank-inner {
    height: 300px;
    position: absolute;
    z-index: 5;
    padding-top: 120px;
    padding-bottom: 210px;
}

.footer-inner {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.footer-button {
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: white
}

.footer-center-list {
    list-style-type: none;
}

.footer-left-side-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    padding-top: 110px;
}

.item2 {
    padding-top: 35px;
}

.footer-right-side {
    display: flex;
    gap: 120px;
    padding-bottom: 30px;

}

.first-list {
    list-style-type: none;
}

.first-side-head {
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 500;

}

.first-list-para {
    color: #8d8989;
    font-size: 14px;
}

.right-side-span {
    color: #8d8989;
    font-size: 10px;
    padding-top: 20px;
}

.right-side-number {
    color: #cbcbcf;
    font-size: 14px;
    padding-top: 20px;
}


.cards-button,
.footer-button,
.third-party-button {
    cursor: pointer;
}


